/nethunter-installer/update/data/app/*.apk
/nethunter-installer/update/supersu.zip
/nethunter-installer/tmp_out
/nethunter-installer/devices
/nethunter-installer/*.zip
/nethunter-fs/.dep_check
/nethunter-fs/output.log
/nethunter-fs/output
/nethunter-fs/kali-*
kalifs-*.tar.xz
.DS_Store
